**USEFUL LINKS**

DATA DICTIONARY : http://bt.mta.info/wiki/Developers/SIRIMonitoredVehicleJourney

STATIC DATA RESOURCES : http://web.mta.info/developers/developer-data-terms.html#data

DATA FEEDS INFO: https://api.mta.info/#/landing

DEVELOPER RESOURCES: https://new.mta.info/developers

----

In [1]:
import pandas as pd

import os
import requests
import json

In [2]:
stops = pd.read_csv("./secrets/bus/stops.txt")

In [3]:
t_stops = stops[stops["stop_name"].str.contains("W 125 ST/MAL")]

In [10]:
t_stops

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
954,402507,W 125 ST/MALCOLM X BL,NaN,40.808026,-73.945964,NaN,NaN,0,NaN
980,402659,W 125 ST/MALCOLM X BL,NaN,40.807514,-73.945026,NaN,NaN,0,NaN

In [12]:
stops = stops[["stop_id", "stop_name"]]

In [5]:
api_key = "API KEY HERE"

# Load in API key
with open("./secrets/bus_api_key.txt") as f:
    api_key = next(f)
    
stop_id = "402507"

url = f"http://bustime.mta.info/api/siri/stop-monitoring.json?key={api_key}&OperatorRef=MTA&MonitoringRef={stop_id}"

response = requests.request("GET", url)

# Create Python object from JSON string data
obj = json.loads(response.text)
  
# Pretty Print JSON
json_formatted_str = json.dumps(obj, indent=4)

In [6]:
closest_busses = obj["Siri"]["ServiceDelivery"]["StopMonitoringDelivery"][0]['MonitoredStopVisit'][0:3]

In [7]:
bus = closest_busses[0]

In [8]:
# Destination
bus['MonitoredVehicleJourney']['DestinationName']

'INWOOD 220 ST via AMSTERDAM via BROADWAY'

In [35]:
temp = pd.DataFrame()

In [36]:
config_type = ["bus", "subway"]
stop_id = ["402507", "SUBWAY-ID"]
direction = ["West", "SUBWAY-DIR"]

In [37]:
temp['type'] = config_type
temp['id'] = stop_id
temp['direction'] = direction

In [39]:
temp.to_csv("./config/config.csv", index=False)

In [33]:
bus_stops = pd.read_csv("./config/bus_stops.csv")
bus_stops = bus_stops[bus_stops["stop_id"] == int("402507")]
# Return the name of the bus stop
print(bus_stops["stop_name"].tolist()[0])

W 125 ST/MALCOLM X BL